In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
df = pd.read_csv("Exam_Score_Prediction.csv")
df.head()

   student_id  age  gender   course  ...   study_method  facility_rating exam_difficulty  exam_score
0           1   17    male  diploma  ...       coaching              low            hard        58.9
1           2   23   other      bca  ...  online videos           medium        moderate        54.8
2           3   22    male     b.sc  ...       coaching             high        moderate        90.3
3           4   20   other  diploma  ...  online videos              low        moderate        29.7
4           5   20  female  diploma  ...       coaching              low        moderate        43.7

[5 rows x 13 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   student_id        20000 non-null  int64
 1   age               20000 non-null  int64
 2   gender            20000 non-null  object
 3   course            20000 non-null  object
 4   study_hours       20000 non-null  float64
 5   class_attendance  20000 non-null  float64
 6   internet_access   20000 non-null  object
 7   sleep_hours       20000 non-null  float64
 8   sleep_quality     20000 non-null  object
 9   study_method      20000 non-null  object
 10  facility_rating   20000 non-null  object
 11  exam_difficulty   20000 non-null  object
 12  exam_score        20000 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 2.0+ MB

In [5]:
df.gender.value_counts()

gender
other     6726
male      6695
female    6579
Name: count, dtype: int64

In [6]:
df.course.value_counts()

course
bca        2902
ba         2896
b.sc       2878
b.com      2864
bba        2836
diploma    2826
b.tech     2798
Name: count, dtype: int64

In [7]:
df.describe()

         student_id           age   study_hours  class_attendance  sleep_hours    exam_score
count  20000.000000  20000.000000  20000.000000      20000.000000  20000.00000  20000.000000
mean   10000.504600     20.473300      4.007604         70.017365      7.00856     62.513225
std     5773.654959      2.284458      2.308313         17.282262      1.73209     18.908491
min        1.000000     17.000000      0.080000         40.600000      4.10000     19.599000
25%     5000.750000     18.000000      2.000000         55.100000      5.50000     48.800000
50%    10000.500000     20.000000      4.040000         69.900000      7.00000     62.600000
75%    15000.250000     22.000000      6.000000         85.000000      8.50000     76.300000
max    20001.000000     24.000000      7.910000         99.400000      9.90000    100.000000

In [8]:
df.gender.value_counts().to_dict()

{'other': 6726, 'male': 6695, 'female': 6579}

In [17]:
x = df.drop(columns = ['exam_score'])
y = df.exam_score
encoded = pd.get_dummies(x, dtype = int)
encoded.drop(columns = ['student_id'], inplace = True)
encoded

       age  study_hours  class_attendance  ...  exam_difficulty_easy  exam_difficulty_hard  exam_difficulty_moderate
0       17         2.78              92.9  ...                     0                     1                         0
1       23         3.37              64.8  ...                     0                     0                         1
2       22         7.88              76.8  ...                     0                     0                         1
3       20         0.67              48.4  ...                     0                     0                         1
4       20         0.89              71.6  ...                     0                     0                         1
...    ...          ...               ...  ...                   ...                   ...                       ...
19995   18         6.50              71.3  ...                     1                     0                         0
19996   18         3.71              41.6  ...                     0                     0                         1
19997   19         7.88              68.2  ...                     1                     0                         0
19998   19         4.60              76.3  ...                     0                     0                         1
19999   20         7.50              47.9  ...                     0                     0                         1

[20000 rows x 30 columns]

In [18]:
x_train,x_test,y_train,y_test = train_test_split(encoded, y,test_size=0.2, random_state=10)

In [25]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
y_train_predict = linear_model.predict(x_train)

mse = mean_squared_error(y_train, y_train_predict)
print("*"*30)
print("mse : ", mse)
print("*"*30)

r2score = r2_score(y_train, y_train_predict)

print("r2score : ", r2score)
print("*"*30)

******************************
mse :  94.69934565681883
******************************
r2score :  0.7364549751214218
******************************

In [23]:
y_test_predict = linear_model.predict(x_test)

mse = mean_squared_error(y_test, y_test_predict)
print("*"*30)
print("mse : ", mse)
print("*"*30)

r2score = r2_score(y_test, y_test_predict)
print("r2score : ", r2score)
print("*"*30)

******************************
mse :  100.11932093971673
******************************
r2score :  0.713975563991556
******************************

In [4]:
import numpy as np

a = np.zeros((2,30))
a

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])